@import "./config.scss";

.each_project {
    width: 100%;
    border-radius: 10px;
    @include flex(center, center, 1rem, column);
    position: relative;

    & > * {
        width: 100%;
    }
    .edit {
        top: 0.5rem;
        right: 0.5rem;
        width: 40px;
        height: 40px;
        z-index: 1;
    }
    .img_container {
        width: inherit;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;

        .img_carousel {
            display: none;
            width: 100%;
            .curr_img {
                width: 100%;
                height: 300px;
                object-fit: contain;
                object-position: top center;
                display: block;
                border-radius: 5px;
                transition: 500ms;
            }
            .thumbnail_container {
                width: 100%;
                @include flex(center, start, 0.5rem);
                .thumbnail {
                    width: 100px;
                    height: 70px;
                    border-radius: 5px;
                    cursor: pointer;
                    object-fit: contain;
                    object-position: top center;
                }
            }
        }

        @include media(max, 800px) {
            height: auto;
            border-radius: 0;
            .slider {
                display: none;
            }
            .img_carousel {
                @include flex(start, start, 0.5rem, column);

                & > * {
                    width: 100%;
                }
            }
        }
    }
    .each_img {
        width: inherit;
        height: 400px;
        object-fit: cover;
        object-position: top center;
    }
    .content_container {
        background-color: $pink-50;
        border-radius: 10px;
        padding: 1rem;
        @include flex(start, start, 0.7rem, column);
        & > div {
            width: 100%;
        }
        .title {
            display: block;
            font-size: 28px;
        }
        ul {
            margin-left: 1rem;
        }
        .action {
            @include flex(start, start, 0.7rem, column);
            & > div {
                width: 100%;
            }

            .goal_container {
                font-size: 18px;
                color: lighten(black, 40%);
                .amount_raised {
                    font-size: 22px;
                }
            }
        }
    }
}
