@import "./config";

.edit_details_title {
}
.edit_details_content {
    width: 100%;
    @include flex(start, start, 1rem, column);
    .input {
        min-width: 100%;
    }
    .list_item {
        .actions {
            @include flex(start, start, 0.5rem);
            div {
                @include flex(center, center, auto);
                width: 35px;
                height: 35px;
                border-radius: 50%;
                cursor: pointer;
                transition: 200ms;
                color: white;
                &:hover {
                    transform: scale(1.2);
                }
                &.edit {
                    background: powderblue;
                }
                &.delete {
                    background: orangered;
                }
            }
        }
        @include media(max, 440px) {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            .actions {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.edit_details_actions {
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.add_new_social_media_handler {
    width: 100%;
    @include flex(start, start, 0.5rem, column);
    .actions {
        width: 100%;
        @include flex(center, space-between, 1rem);
    }
}
