@import "./config";

.orphanage_account_dashboard_page {
    .orphanage_account_dashboard {
        width: 100%;
        padding: 2rem;
        // @include flex(center, start, 1rem, column);
        @include flex(start, center, 1rem);
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: url(../assets/images/bg-image.jpg);
            z-index: -1;
            background-size: cover;
            background-repeat: no-repeat;
            position: fixed;
            top: 0;
            left: 0;
            opacity: 0.5;
        }
        // & > div {
        //     max-width: 700px;
        //     width: 100%;
        //     background: white;
        //     padding: 1.5rem;
        //     border-radius: 10px;
        // }
        @include media(max, 500px) {
            padding: 0.5rem;
        }
    }
    .sections_container {
        @include flex(center, start, 1rem, column);
        & > div {
            max-width: 700px;
            min-width: 700px;
            width: 100%;
            background: white;
            padding: 1.5rem;
            border-radius: 10px;
            @include media(max, 850px) {
                min-width: 500px;
            }
            @include media(max, 530px) {
                min-width: 400px;
            }
            @include media(max, 430px) {
                min-width: 98vw;
            }
        }
    }
    .side_menu {
        padding: 0.5rem;
        position: sticky;
        position: -webkit-sticky;
        top: 0.5rem;
        background: $pink-100;
        border-radius: 50px;
        box-shadow: 0 0 3px rgba($pink-900, 0.2);
        @include flex(center, center, 0.5rem, column);
        .item {
            background-color: $pink-900;
            color: $pink-50;
            &:hover {
                background-color: lighten($pink-900, 10);
                color: $pink-50;
            }
        }
        @include media(max, 600px) {
            display: none;
        }
    }
    .analytics_section {
        @include flex(start, center, 0.5rem, column);
        span {
            font-size: 12px;
            &:first-of-type {
                font-size: 14px;
                font-weight: bold;
            }
            &:last-of-type {
                font-weight: 100;
            }
        }
    }
    .profile_section {
        padding: 0 !important;
        overflow: hidden;
        .img_section {
            position: relative;
            width: 100%;
            height: 260px;
            .bg_img_container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .edit {
                    top: 1rem;
                    right: 1rem;
                }
            }
            .profile_img_container {
                position: absolute;
                left: 2rem;
                bottom: 0;
                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 4px solid white;
                }
                .edit {
                    bottom: 2rem;
                    right: 0;
                }
            }
        }
        .details_section {
            position: relative;
            padding: 0 1.5rem;
            padding-bottom: 1.5rem;
            @include flex(stretch, start, auto, row);
            .left {
                @include flex(start, start, 1rem, column);
                flex: 1;
                .name_container {
                    @include flex(start, start, 0.2rem, column);
                    .name {
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .tagline {
                        font-size: 14px;
                    }
                }
                .external_links {
                    @include flex(start, start, 0.5rem, column);
                    .website {
                        @include flex(center, start, 0.5rem);
                        i {
                            font-size: 20px;
                            color: $pink-900;
                        }
                        a {
                            font-size: 14px;
                            color: $pink-500;
                        }
                    }
                    .social_media_handles {
                        @include flex(center, start, 1rem);
                    }
                }
                .utilities_container {
                    display: none;
                }
                .action {
                    button {
                        width: 170px;
                        height: 40px;
                        background: $pink-900;
                        color: $pink-50;
                        @include flex(center, start, 1rem);
                        i {
                            font-size: 20px;
                        }
                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
            .right {
                flex: 1;
                @include flex(start, end, auto);
            }
            & > .edit {
                top: -3.2rem;
                right: 0.2rem;
            }
            @include media(max, 675px) {
                .right {
                    display: none;
                }
                .left .utilities_container {
                    display: block;
                }
            }
        }
    }
    .about_section {
        @include flex(start, center, 0.5rem, column);
        position: relative;
        & > .edit {
            top: 0.5rem;
            right: 0.5rem;
        }
        & > span {
            font-size: 18px;
            font-weight: bold;
        }
        div {
            font-size: 14px;
            a.expand_link {
                font-size: 14px;
                font-weight: bold;
                color: $pink-900;
            }
        }
    }
    .location_section {
        @include flex(start, center, 0.5rem, column);
        position: relative;
        padding: 0 !important;
        overflow: hidden;
        & > .edit {
            top: 0.5rem;
            right: 0.5rem;
            width: 40px;
            height: 40px;
        }
        & > span {
            font-size: 18px;
            font-weight: bold;
            padding: 1.5rem;
            display: block;
            padding-bottom: 0;
        }
        div {
            width: 100%;
            font-size: 14px;
            .address {
                @include flex(center, start, 1rem);
                i {
                    font-size: 18px;
                }
                color: $pink-900;
                padding: 0 1.5rem;
            }
            .map {
                width: 100%;
            }
        }
    }
    .social_media_handle {
        font-size: 26px;
        color: $pink-900;
        transition: 200ms;
        &:hover {
            transform: scale(1.2);
            color: $pink-500;
        }
    }
    .utilities {
        @include flex(center, start, 0.5rem);
        flex-wrap: wrap;
        &.vertical {
            flex-direction: column;
        }
        a {
            // width: 42px;
            // height: 42px;
            // @include flex(center, center, auto);
            // font-size: 18px;
            // background: $pink-900;
            // color: $pink-50;
            // border-radius: 50%;
            // transition: 200ms;
            // &:hover {
            //     transform: scale(1.2);
            //     background: $pink-200;
            //     color: $pink-900;
            // }
            .item {
                background-color: $pink-900;
                color: $pink-50;
                &:hover {
                    background-color: lighten($pink-900, 10);
                    color: $pink-50;
                }
            }
        }
    }
    .placeholder {
        width: 100%;
        padding: 0 1rem;
        text-align: center;
        color: rgba(black, 0.3);
        font-size: 18px !important;
    }
}
